.content {
    background-color: rgb(242, 236, 208);
}
.top {
    background-color: rgb(70, 70, 52);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 3px solid #000;
    text-align: center;
}
.main-content {
    border: 3px solid #000000;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(182, 175, 146);
    height: 860px;
    margin-top: 10px;
}
/* .right-content {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: rgb(152, 143, 105);
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}
.left-content {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: rgb(152, 143, 105);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.middle-content {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: rgb(152, 143, 105);
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
} */
.output-content1 {
    width: 100%;
    height: 602px;
    margin-top: 0px;
    display: flex;
}

#filelist {
    width: 100%;
    border: 3px solid white;
    color: black;
}

#filelist td {
    border: 3px solid white;
}

#filein {
    border: 3px solid rgba(152, 143, 105, 0.632);
    border-radius: 0.3rem;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 50%;
    background-color: rgb(152, 143, 105);
}
#filein:hover {
    background-color: rgb(129, 118, 68);
}

.content1-content {
    width: 33%;
    height: 99%;
    border: 3px solid #000000;
    background-color: rgb(152, 143, 105);
    margin-inline: 10px;
    margin-top: 20px;
}
body {
    text-align: center;
}