/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(247, 177, 177);
    border-radius: 10px;
}

#downloadlist {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
/* ### */
#downloadlist div {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    display: table;
    vertical-align: middle;
}
#downloadlist div a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.content {
    background-color: rgb(245, 231, 210);
    height: 80vh;
}

.top {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    border: 3px solid #000;
    text-align: center;
}

.main-content {
    border: 3px solid #000000;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(246, 195, 195);
    height: 100%;
    margin-top: 10px;
}

.output-content1 {
    width: 100%;
    height: 50%;
    margin-top: 0px;
    display: flex;
}

#filelist {
    width: 100%;
    color: black;
    overflow-y: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* ### */
#filelist tr {
    border: 1px solid rgb(35, 35, 35);
    display: block;
    text-align: center;
    align-items: center;
    
}
tr,td {
    text-align: center;
}

#filelist td {
    padding-left: 140%;
    text-align: center;
    align-self: center;
    align-content: center;
}
#filein {
    border: 3px solid black;
    padding: 5px;
    border-radius: 0.3rem;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 60%;
    background-color: #ff0000;
}
#submitter {
    border: 3px solid black;
    padding: 5px;
    border-radius: 0.3rem;
    font-size: 30px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    margin-bottom: 50%;
    background-color: #ffffff;
}

#submitter:hover {
    background-color: #f0e7e7;
}


.upperdiv div {
    width: 33%;
}

#filein:hover {
    background-color: #ff5858;
}

.content1-content {
    width: 33%;
    height: 100%;
    border: 3px solid #000000;
    background-color: rgb(185, 71, 71);
    margin-inline: 10px;
    margin-top: 20px;
    overflow: auto;
}

body {
    text-align: center;
    
}

#filesetting {
    width: 100%;
    border: 3px solid white;
    color: black;
}

#filesetting tr {
    border: 3px solid white;
    display: block;
}